.courses-header{
    margin: 0;
    padding: 60px;
    background: black;
    background: #C33764;
    height: 350px;
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
    background-image: "https://images.unsplash.com/photo-1523289333742-be1143f6b766?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .courses-header-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;

        .links {
            text-decoration: none;
            padding: 10px;
            color: white;

            &:hover {
                color:#C33764;
                background-color: #facc80;
                border-radius: 15px;
            }
        }
    }
}

.courses-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(168, 168, 168);
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 35px;
    margin: 45px 2% 5px;
    padding: 5px;
    background-color: #fff;

    .courses-content-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .courses-categories {
        width: 20%;
    }
    .courses-content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}