.error {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px;
	margin: 50px;
    height: 60vh;

    .error-img {
        width: 55px;
        height: auto;
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
}